workflow_gadai_complete.json
{
  "name": "workflow_gadai_complete",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah AI Customer Service untuk layanan gadai barang (emas & elektronik) di PT Mulia Informasi Teknologi.\n\nALUR PERCAKAPAN WAJIB - IKUTI URUTAN INI SECARA KETAT:\n1. PERTAMA dan WAJIB: Sapa user dan tanyakan namanya. Contoh: \"Halo! Selamat datang di layanan gadai PT Mulia Informasi Teknologi. Boleh saya tahu nama Anda?\"\n2. Setelah user memberikan nama, baru tanyakan: \"Apakah Anda ingin menggadaikan emas atau elektronik, [nama]?\"\n3. Proses sesuai jenis barang\n4. Setelah selesai satu transaksi, selalu tanyakan: \"Apakah ada barang lain yang ingin Anda gadaikan? (emas/elektronik)\"\n5. Jika user ingin gadai lagi → kembali ke langkah 2\n6. Jika user selesai → tutup dengan: \"Baik, sampai jumpa [nama]! Semoga transaksi Anda berjalan lancar.\" Setelah ini LUPAKAN semua informasi percakapan termasuk nama user.\n\nJANGAN PERNAH melewati langkah 1. Selalu tanya nama dulu sebelum apapun.\n\n---\n\nLOGIC GADAI EMAS:\n1. Tanya gramasi emas user (berapa gram)\n2. Panggil tool get_gold_price untuk mendapatkan harga emas per gram hari ini\n3. Hitung estimasi: Estimasi = harga_per_gram × gramasi\n4. Tampilkan hasil: \"Estimasi harga gadai emas [X] gram adalah Rp [hasil]. Apakah Anda ingin melanjutkan?\"\n5. Jika user konfirmasi YA → WAJIB SEGERA panggil tool save_to_dashboard SEBELUM membalas apapun ke user. Jangan lewati langkah ini. Data yang dikirim:\n   {\"nama_user\": \"[nama user]\", \"jenis_barang\": \"emas\", \"pertanyaan_user\": \"[pesan user saat menyebut ingin gadai emas, contoh: 'emas' atau 'ingin gadai emas 10 gram']\", \"estimasi_nilai\": [angka], \"gramasi\": [angka]}\n   SETELAH save_to_dashboard berhasil, baru balas: \"Baik, estimasi harga telah disimpan.\"\n6. Setelah simpan → tanyakan: \"Apakah ada barang lain yang ingin Anda gadaikan? (emas/elektronik)\"\n\n---\n\nLOGIC GADAI ELEKTRONIK:\n1. LANGSUNG tampilkan list barang yang tersedia:\n   \"Berikut contoh barang elektronik yang tersedia di database kami:\n   - Nintendo Switch OLED\n   - Samsung Galaxy Z Flip 1\n   - Samsung Galaxy Z Flip 4\n   - Samsung Galaxy M13\n   Silakan sebutkan nama lengkap dan spesifik barang yang ingin Anda gadaikan.\"\n2. Setelah user menyebut barang, tanya wilayah dengan pilihan:\n   \"Anda berada di wilayah mana?\n   1. Jawa Barat (Jabar)\n   2. DKI Jakarta\n   3. Jawa Timur (Jatim)\n   4. Lainnya\"\n3. Gunakan tool Qdrant_Retriever_Tool untuk cari harga barang di database.\n   PENTING: Query ke Qdrant hanya nama barang saja, JANGAN ikutkan wilayah.\n   Contoh query BENAR: \"Samsung Galaxy Z Flip 1\"\n   Contoh query SALAH: \"Samsung Galaxy Z Flip 1 di Jawa Barat\"\n4. Jika harga TIDAK ditemukan → jawab: \"Maaf, harga barang tidak ditemukan di database kami.\" lalu tanyakan apakah ingin mencoba barang lain dari list di atas\n5. Jika harga ditemukan, hitung estimasi berdasarkan wilayah:\n   - DKI Jakarta: harga × 80%\n   - Jawa Barat: harga × 70%\n   - Jawa Timur: harga × 60%\n   - Lainnya: harga × 50%\n6. Tampilkan: \"Estimasi harga gadai [nama barang] di wilayah [wilayah] adalah Rp [harga_asli] × [persentase]% = Rp [hasil]. Apakah Anda ingin melanjutkan?\"\n7. Jika user konfirmasi YA → WAJIB SEGERA panggil tool save_to_dashboard SEBELUM membalas apapun ke user. Jangan lewati langkah ini. Data yang dikirim:\n   {\"nama_user\": \"[nama user]\", \"jenis_barang\": \"elektronik\", \"pertanyaan_user\": \"[nama barang yang disebutkan user, contoh: 'Samsung Galaxy Z Flip 1']\", \"nama_barang\": \"[nama barang]\", \"estimasi_nilai\": [angka], \"wilayah\": \"[wilayah]\"}\n   SETELAH save_to_dashboard berhasil, baru balas: \"Baik, estimasi harga telah disimpan.\"\n8. Setelah simpan → tanyakan: \"Apakah ada barang lain yang ingin Anda gadaikan? (emas/elektronik)\"\n\n---\n\nATURAN PENTING:\n- Selalu gunakan Bahasa Indonesia yang sopan dan ramah\n- Jangan mengarang harga, selalu gunakan tool yang tersedia\n- Jika tool error, jawab: \"Maaf, sistem sedang mengalami gangguan. Silakan coba beberapa saat lagi.\"\n- Jangan tampilkan angka \"xxx\" atau placeholder apapun ke user\n- Simpan ke dashboard HANYA jika estimasi berhasil dihitung dan user konfirmasi\n- WAJIB panggil tool save_to_dashboard sebelum menutup percakapan jika user konfirmasi\n- DILARANG menggunakan frasa \"Selamat hari\"\n- DILARANG menggunakan emoji berlebihan",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -64
      ],
      "id": "5b1af2b9-cfbd-4c34-90e3-a7e8a334d0a6",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan tool ini untuk menjawab pertanyaan berdasarkan dokumen yang telah diupload",
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_data_2026",
          "mode": "list",
          "cachedResultName": "rag_data_2026"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        288,
        192
      ],
      "id": "491298e2-67ce-41fa-be45-743269032897",
      "name": "Qdrant Retriever (Tool)",
      "credentials": {
        "qdrantApi": {
          "id": "ER2Ct8VH1qB68Fkh",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        192
      ],
      "id": "5f5006f4-129c-4600-a94b-4fd294b4fd31",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RxxqJsfJP9A74enC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        192
      ],
      "id": "8e61f675-540b-4fae-817a-3a8e990a2b3d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -64
      ],
      "id": "25ad14a1-d151-45e3-8bfa-e73e58450dd2",
      "name": "Telegram Trigger",
      "webhookId": "195a752a-262c-42d7-b63b-ad03b7481698",
      "credentials": {
        "telegramApi": {
          "id": "iebXDTY4T0ofdKpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -64
      ],
      "id": "a2d81231-50be-469d-9966-907b6a9d511a",
      "name": "Send a text message",
      "webhookId": "d60b9e9e-e60e-4900-8060-d2831d4ff041",
      "credentials": {
        "telegramApi": {
          "id": "iebXDTY4T0ofdKpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-m3:567m"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        368,
        336
      ],
      "id": "83c9a492-3f0c-4ccc-bf8a-7321784d07f5",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xnopnDAlDKdj8RYL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "description": "Gold Price",
        "jsCode": "try {\n  const goldData = await helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.metals.live/v1/spot/gold',\n    headers: { \n      'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36',\n      'Accept': 'application/json'\n    }\n  });\n  const usdPerOz = parseFloat(goldData[0]?.price || 0);\n  if (usdPerOz < 1000) throw new Error('invalid');\n  const hargaIDRPerGram = (usdPerOz / 31.1035) * 16500;\n  return \"Harga emas hari ini: Rp \" + Math.round(hargaIDRPerGram).toLocaleString('id-ID') + \" per gram\";\n} catch(e) {\n  const hargaAntam = 1690000;\n  return \"Harga emas hari ini: Rp \" + hargaAntam.toLocaleString('id-ID') + \" per gram\";\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        176,
        192
      ],
      "id": "2b0e7ed5-39ff-45f1-98ad-3f09ee18f427",
      "name": "get_gold_price"
    },
    {
      "parameters": {
        "description": "Simpan data transaksi ke dashboard setelah user konfirmasi. Format JSON: {\"nama_user\":\"nama\",\"jenis_barang\":\"emas atau elektronik\",\"pertanyaan_user\":\"teks\",\"nama_barang\":\"nama barang\",\"estimasi_nilai\":1000000,\"wilayah\":\"wilayah\",\"gramasi\":5}",
        "jsCode": "let input = {};\ntry {\n  input = JSON.parse(query);\n} catch(e) {\n  const match = query.match(/\\{.*\\}/s);\n  if (match) { try { input = JSON.parse(match[0]); } catch(e2) {} }\n}\n\nconst result = await helpers.httpRequest({\n  method: 'POST',\n  url: 'http://gadai-dashboard:3000/api/transaction',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    nama_user: input.nama_user || 'Unknown',\n    jenis_barang: input.jenis_barang || 'emas',\n    pertanyaan_user: input.pertanyaan_user || '',\n    nama_barang: input.nama_barang || '',\n    estimasi_nilai: input.estimasi_nilai || 0,\n    wilayah: input.wilayah || '',\n    gramasi: input.gramasi || null,\n    channel: 'Telegram'\n  })\n});\n\nreturn \"Data berhasil disimpan ke dashboard dengan ID: \" + result.id;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "923ff1f1-162a-41f2-b756-194ff0253f19",
      "name": "save_to_dashboard"
    }
  ],
  "pinData": {},
  "connections": {
    "Qdrant Retriever (Tool)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Retriever (Tool)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "get_gold_price": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "save_to_dashboard": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "138e8c4e-b132-4a74-8992-373b934c5ff0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b764a4deb60977e5330fa11bbdb9a01537ebf2d58fb45505ba719d9e9440c4c"
  },
  "id": "wXRsLYFu4m9PD25c",
  "tags": []
}